
.col-auto, #none {

    padding: 10px;

    margin-right: 10px;

    font-family: cursive;
    
    font-style: oblique;
}

.active {

    text-decoration: none;
}

.btn {

    padding: 10px;

    margin: 5px 5px 5px 5px;

    font-family: cursive;
    
    font-style: oblique;
}

#idLabel {

    color: red;

    padding: 10px;

    margin-right: 10px;

    font-family: cursive;
    
    font-style: oblique;
}